In [1]:
# Declarations
import glob
import json
import os
import numpy as np
import pandas as pd
import re

from os.path import basename

In [2]:
nameFileV = []
pathFileV = []
rootFileV = []
nameFileM = []
pathFileM = []
rootFileM = []
nameFileS = []
pathFileS = []
rootFileS = []
nameFileSV = []
pathFileSV = []
rootFileSV = []

path = os.getcwd()
for root, dirs, files in os.walk(path):
    for file in files:
        if file.endswith("ScalarSize.csv"):
            nameFileS.append(file)
            pathFileS.append(os.path.join(root, file))
            rootFileS.append(root)
        elif file.endswith("ScalarVariable.csv"):
            nameFileSV.append(file)
            pathFileSV.append(os.path.join(root, file))
            rootFileSV.append(root)
        elif file.endswith("Vector.csv"):
            nameFileV.append(file)
            pathFileV.append(os.path.join(root, file))
            rootFileV.append(root)
        elif file.endswith("Matrix.csv"):
            nameFileM.append(file)
            pathFileM.append(os.path.join(root, file))
            rootFileM.append(root)

In [3]:
# ScalarSize file
for i in range(0, len(pathFileS)):
    path = pathFileS[i]
    try:
        dfSTemp = pd.read_csv(path, sep=',',engine='python',header=None)
    except:
        print(path)
    dfSTemp = dfSTemp.rename(columns={0:'ID_VAL'})    
    
    for j in range(1, len(dfSTemp.columns)):
        dfSTemp = dfSTemp.rename(columns={j:'SS_VAL_'+str(j)})
    
    if os.name == 'nt':
        spR = rootFileS[i].split('\\')
    else:
        spR = rootFileS[i].split('/')
    datatype = spR[-2]
    device = spR[-5]
    board = spR[-4]
    function = spR[-3]
    number = int(spR[-4].split('x')[0])
    dfSTemp['DEVICE'] = device
    dfSTemp['BOARD'] = board
    dfSTemp['FUNCTION'] = function
    dfSTemp['DATA_TYPE'] = datatype
    dfSTemp['ID_VAL'] = dfSTemp['ID_VAL'].astype(str)
    dfSTemp['ID_VAL'] = dfSTemp['ID_VAL'].map(lambda x: x.lstrip('values_'))
    dfSTemp['ID_VAL'] = dfSTemp['ID_VAL'].astype(int)
    dfSTemp.sort_values('ID_VAL')
    
    if i == 0:
        dfSTot = dfSTemp
    else:
        frames = [dfSTot, dfSTemp]
        dfSTot = pd.concat(frames)
        
dfSTot = dfSTot.fillna(0)
dfSTot

     ID_VAL  SS_VAL_1  DEVICE  BOARD          FUNCTION DATA_TYPE
0       242        19  ARMV4T  28x28  banker_algorithm    int8_t
1       505        15  ARMV4T  28x28  banker_algorithm    int8_t
2       924        22  ARMV4T  28x28  banker_algorithm    int8_t
3       862         8  ARMV4T  28x28  banker_algorithm    int8_t
4       287        22  ARMV4T  28x28  banker_algorithm    int8_t
..      ...       ...     ...    ...               ...       ...
995     595        14   LEON3  28x28     selectionsort    int8_t
996     968         9   LEON3  28x28     selectionsort    int8_t
997     503         5   LEON3  28x28     selectionsort    int8_t
998     378        22   LEON3  28x28     selectionsort    int8_t
999     610        17   LEON3  28x28     selectionsort    int8_t

[48096 rows x 6 columns]

In [4]:
# Scalar file
for i in range(0, len(pathFileSV)):
    path = pathFileSV[i]
    try:
        dfSVTemp = pd.read_csv(path, sep=',',engine='python',header=None)
    except:
        print(path)
    dfSVTemp = dfSVTemp.rename(columns={0:'ID_VAL'})
    
    for j in range(1, len(dfSVTemp.columns)):
        dfSVTemp = dfSVTemp.rename(columns={j:'SV_VAL_'+str(j)})
        
    if os.name == 'nt':
        spR = rootFileSV[i].split('\\')
    else:
        spR = rootFileSV[i].split('/')
    datatype = spR[-2]
    device = spR[-5]
    board = spR[-4]
    function = spR[-3]
    dfSVTemp['DEVICE'] = device
    dfSVTemp['BOARD'] = board
    dfSVTemp['FUNCTION'] = function
    dfSVTemp['DATA_TYPE'] = datatype
    dfSVTemp['ID_VAL'] = dfSVTemp['ID_VAL'].astype(str)
    dfSVTemp['ID_VAL'] = dfSVTemp['ID_VAL'].map(lambda x: x.lstrip('values_'))
    dfSVTemp['ID_VAL'] = dfSVTemp['ID_VAL'].astype(int)
    dfSVTemp.sort_values('ID_VAL')
    
    if i == 0:
        dfSVTot = dfSVTemp
    else:
        frames = [dfSVTot, dfSVTemp]
        dfSVTot = pd.concat(frames)

dfSVTot = dfSVTot.fillna(0)

In [5]:
# ScalarVariable file
for i in range(0, len(pathFileSV)):
    path = pathFileSV[i]
    try:
        dfSVTemp = pd.read_csv(path, sep=',',engine='python',header=None)
    except:
        print(path)
    dfSVTemp = dfSVTemp.rename(columns={0:'ID_VAL'})
    
    for j in range(1, len(dfSVTemp.columns)):
        dfSVTemp = dfSVTemp.rename(columns={j:'SV_VAL_'+str(j)})
        
    if os.name == 'nt':
        spR = rootFileSV[i].split('\\')
    else:
        spR = rootFileSV[i].split('/')
    datatype = spR[-2]
    device = spR[-6]
    board = spR[-5]
    function = spR[-3]
    dfSVTemp['DEVICE'] = device
    dfSVTemp['BOARD'] = board
    dfSVTemp['FUNCTION'] = function
    dfSVTemp['DATA_TYPE'] = datatype
    dfSVTemp['ID_VAL'] = dfSVTemp['ID_VAL'].astype(str)
    dfSVTemp['ID_VAL'] = dfSVTemp['ID_VAL'].map(lambda x: x.lstrip('values_'))
    dfSVTemp['ID_VAL'] = dfSVTemp['ID_VAL'].astype(int)
    dfSVTemp.sort_values('ID_VAL')
    
    if i == 0:
        dfSVTot = dfSVTemp
    else:
        frames = [dfSVTot, dfSVTemp]
        dfSVTot = pd.concat(frames)

dfSVTot = dfSVTot.fillna(0)

In [6]:
dfSVTot

     ID_VAL  SV_VAL_1     DEVICE   BOARD       FUNCTION DATA_TYPE
0       242        19  armulator  ARMV4T  binary_search    int8_t
1       505        12  armulator  ARMV4T  binary_search    int8_t
2      1006        20  armulator  ARMV4T  binary_search    int8_t
3       924        21  armulator  ARMV4T  binary_search    int8_t
4       862        25  armulator  ARMV4T  binary_search    int8_t
..      ...       ...        ...     ...            ...       ...
995     595         9       tsim   LEON3    park_miller    int8_t
996     968         6       tsim   LEON3    park_miller    int8_t
997     503        11       tsim   LEON3    park_miller    int8_t
998     378         9       tsim   LEON3    park_miller    int8_t
999     610         8       tsim   LEON3    park_miller    int8_t

[14392 rows x 6 columns]

In [7]:
# Vector file
for i in range(0, len(pathFileV)):
    path = pathFileV[i]
    dfVTemp = pd.read_csv(path, sep=',',engine='python', header=None)
    dfVTemp = dfVTemp.rename(columns={0:'ID_VAL'})
    
    for j in range(1, len(dfVTemp.columns)):
        dfVTemp = dfVTemp.rename(columns={j:'V_VAL_'+str(j)})
    
    if os.name == 'nt':
        spR = rootFileV[i].split('\\')
    else:
        spR = rootFileV[i].split('/')
    datatype = spR[-2]
    device = spR[-6]
    board = spR[-5]
    function = spR[-3]
    dfVTemp['DEVICE'] = device
    dfVTemp['BOARD'] = board
    dfVTemp['FUNCTION'] = function
    dfVTemp['DATA_TYPE'] = datatype
    dfVTemp['ID_VAL'] = dfVTemp['ID_VAL'].map(lambda x: x.lstrip('values_'))
    dfVTemp['ID_VAL'] = dfVTemp['ID_VAL'].astype(int)
    dfVTemp.sort_values('ID_VAL')
    
    if i == 0:
        dfVTot = dfVTemp
    else:
        frames = [dfVTot, dfVTemp]
        dfVTot = pd.concat(frames)

dfVTot = dfVTot.fillna(0)

In [8]:
dfVTot

,ID_VAL,V_VAL_1,V_VAL_2,V_VAL_3,V_VAL_4,V_VAL_5,V_VAL_6,V_VAL_7,V_VAL_8,V_VAL_9,...,V_VAL_23,V_VAL_24,V_VAL_25,V_VAL_26,V_VAL_27,V_VAL_28,DEVICE,BOARD,FUNCTION,DATA_TYPE
0,242,121,10,190,78,227,64,160,139,124,...,0,0,0,0,0,0,armulator,ARMV4T,banker_algorithm,int8_t
1,505,122,234,23,130,96,123,15,117,49,...,0,0,0,0,0,0,armulator,ARMV4T,banker_algorithm,int8_t
2,924,189,6,101,239,103,102,128,168,248,...,0,0,0,0,0,0,armulator,ARMV4T,banker_algorithm,int8_t
3,862,35,139,45,253,92,248,57,124,0,...,0,0,0,0,0,0,armulator,ARMV4T,banker_algorithm,int8_t
4,287,242,32,61,166,71,25,209,59,119,...,0,0,0,0,0,0,armulator,ARMV4T,banker_algorithm,int8_t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,595,88,116,-66,-30,35,-121,42,51,-83,...,0,0,0,0,0,0,tsim,LEON3,selectionsort,int8_t
996,968,4,111,44,118,-111,68,-47,-89,87,...,0,0,0,0,0,0,tsim,LEON3,selectionsort,int8_t
997,503,24,3,44,91,-13,0,0,0,0,...,0,0,0,0,0,0,tsim,LEON3,selectionsort,int8_t
998,378,-27,-1,-103,-27,115,-2,-62,-93,118,...,0,0,0,0,0,0,tsim,LEON3,selectionsort,int8_t
999,610,83,-110,114,-116,114,-79,87,86,-93,...,0,0,0,0,0,0,tsim,LEON3,selectionsort,int8_t

In [9]:
# Matrix file
pathFileM.pop(0)
rootFileM.pop(0)

for i in range(0, len(pathFileM)):
    path = pathFileM[i]
    dfMTemp = pd.read_csv(path, sep=',',engine='python', header=None)
    dfMTemp = dfMTemp.rename(columns={0:'ID_VAL'})
    
    for j in range(1, len(dfMTemp.columns)):
        dfMTemp = dfMTemp.rename(columns={j:'M_VAL_'+str(j)})
    
    if os.name == 'nt':
        spR = rootFileM[i].split('\\')
    else:
        spR = rootFileM[i].split('/')
    datatype = spR[-2]
    device = spR[-6]
    board = spR[-5]
    function = spR[-3]
    dfMTemp['DEVICE'] = device
    dfMTemp['BOARD'] = board
    dfMTemp['FUNCTION'] = function
    dfMTemp['DATA_TYPE'] = datatype
    dfMTemp['ID_VAL'] = dfMTemp['ID_VAL'].map(lambda x: x.lstrip('values_'))
    dfMTemp['ID_VAL'] = dfMTemp['ID_VAL'].astype(int)
    dfMTemp.sort_values('ID_VAL')
    
    if i == 0:
        dfMTot = dfMTemp
    else:
        frames = [dfMTot, dfMTemp]
        dfMTot = pd.concat(frames)

dfMTot = dfMTot.fillna(0)

In [10]:
dfMTot

,ID_VAL,M_VAL_1,M_VAL_2,M_VAL_3,M_VAL_4,M_VAL_5,M_VAL_6,M_VAL_7,M_VAL_8,M_VAL_9,...,M_VAL_27,M_VAL_28,M_VAL_29,M_VAL_30,M_VAL_31,M_VAL_32,DEVICE,BOARD,FUNCTION,DATA_TYPE
0,0,20.751617,8.253970,0.0,0.000000,1.428373,33.193649,0.000000,6.847141,5.467397,...,0.000000,0.000000,0.000000,0.893931,1.112847,2.516858,armulator,ARMV4T,banker_algorithm,int8_t
1,1,108.979126,0.000000,0.0,5.954572,38.911896,37.986443,8.470771,134.759338,117.511665,...,0.000000,28.868542,48.263363,10.306892,7.616625,98.439819,armulator,ARMV4T,banker_algorithm,int8_t
2,10,134.204819,0.000000,0.0,0.015502,46.928345,43.316784,0.000000,121.813126,102.517090,...,0.000000,15.522923,62.867577,48.262848,13.514677,121.754242,armulator,ARMV4T,banker_algorithm,int8_t
3,100,8.830815,8.741481,0.0,0.000000,3.548826,18.870001,0.942089,5.902482,0.996166,...,0.000000,0.000000,0.133523,0.375370,0.032031,0.000816,armulator,ARMV4T,banker_algorithm,int8_t
4,101,80.159607,0.000000,0.0,18.403164,54.921761,28.952875,11.829276,102.331238,63.734703,...,0.000000,0.000000,23.877136,48.548599,0.000000,30.737700,armulator,ARMV4T,banker_algorithm,int8_t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,14.188257,28.466208,0.0,0.000000,0.000000,26.256496,6.684171,51.580349,19.213146,...,1.418469,0.000000,0.000000,30.526773,10.796255,38.251335,tsim,LEON3,matrix_mult,int8_t
996,996,31.492411,14.673825,0.0,0.000000,0.000000,28.229473,17.734055,55.952343,10.717706,...,0.000000,0.000000,0.000000,14.735678,13.688523,81.537552,tsim,LEON3,matrix_mult,int8_t
997,997,45.771675,6.597071,0.0,0.000000,2.700911,19.367085,0.000000,14.836687,4.680627,...,0.000000,0.000000,0.000000,4.569641,2.043394,10.576884,tsim,LEON3,matrix_mult,int8_t
998,998,20.265640,2.372604,0.0,0.000000,0.000000,29.090540,17.833668,64.905136,23.024546,...,0.000000,0.000000,9.222958,19.529007,18.121132,79.211472,tsim,LEON3,matrix_mult,int8_t
999,999,6.008119,7.699028,0.0,0.000000,4.376245,6.848620,6.388020,1.472684,1.494320,...,0.000000,0.000000,0.583128,1.264913,0.810049,0.583611,tsim,LEON3,matrix_mult,int8_t

In [11]:

dfSTot = dfSTot.reset_index(drop=True)
dfSVTot = dfSVTot.reset_index(drop=True)
dfVTot = dfVTot.reset_index(drop=True)
dfMTot = dfMTot.reset_index(drop=True)

In [12]:
first_column = dfSTot.pop("DEVICE")
dfSTot.insert(0, 'value', first_column)
dfSTot = dfSTot.rename(columns={'value':'DEVICE'})

first_column = dfSTot.pop("BOARD")
dfSTot.insert(1, 'value', first_column)
dfSTot = dfSTot.rename(columns={'value':'BOARD'})

first_column = dfSTot.pop("FUNCTION")
dfSTot.insert(2, 'value', first_column)
dfSTot = dfSTot.rename(columns={'value':'FUNCTION'})

first_column = dfSTot.pop("DATA_TYPE")
dfSTot.insert(3, 'value', first_column)
dfSTot = dfSTot.rename(columns={'value':'DATA_TYPE'})

In [13]:
dfSTot

       DEVICE  BOARD          FUNCTION DATA_TYPE  ID_VAL  SS_VAL_1
0      ARMV4T  28x28  banker_algorithm    int8_t     242        19
1      ARMV4T  28x28  banker_algorithm    int8_t     505        15
2      ARMV4T  28x28  banker_algorithm    int8_t     924        22
3      ARMV4T  28x28  banker_algorithm    int8_t     862         8
4      ARMV4T  28x28  banker_algorithm    int8_t     287        22
...       ...    ...               ...       ...     ...       ...
48091   LEON3  28x28     selectionsort    int8_t     595        14
48092   LEON3  28x28     selectionsort    int8_t     968         9
48093   LEON3  28x28     selectionsort    int8_t     503         5
48094   LEON3  28x28     selectionsort    int8_t     378        22
48095   LEON3  28x28     selectionsort    int8_t     610        17

[48096 rows x 6 columns]

In [14]:
first_column = dfSVTot.pop("DEVICE")
dfSVTot.insert(0, 'value', first_column)
dfSVTot = dfSVTot.rename(columns={'value':'DEVICE'})

first_column = dfSVTot.pop("BOARD")
dfSVTot.insert(1, 'value', first_column)
dfSVTot = dfSVTot.rename(columns={'value':'BOARD'})

first_column = dfSVTot.pop("FUNCTION")
dfSVTot.insert(2, 'value', first_column)
dfSVTot = dfSVTot.rename(columns={'value':'FUNCTION'})

first_column = dfSVTot.pop("DATA_TYPE")
dfSVTot.insert(3, 'value', first_column)
dfSVTot = dfSVTot.rename(columns={'value':'DATA_TYPE'})

In [15]:
dfSVTot

          DEVICE   BOARD       FUNCTION DATA_TYPE  ID_VAL  SV_VAL_1
0      armulator  ARMV4T  binary_search    int8_t     242        19
1      armulator  ARMV4T  binary_search    int8_t     505        12
2      armulator  ARMV4T  binary_search    int8_t    1006        20
3      armulator  ARMV4T  binary_search    int8_t     924        21
4      armulator  ARMV4T  binary_search    int8_t     862        25
...          ...     ...            ...       ...     ...       ...
14387       tsim   LEON3    park_miller    int8_t     595         9
14388       tsim   LEON3    park_miller    int8_t     968         6
14389       tsim   LEON3    park_miller    int8_t     503        11
14390       tsim   LEON3    park_miller    int8_t     378         9
14391       tsim   LEON3    park_miller    int8_t     610         8

[14392 rows x 6 columns]

In [16]:
first_column = dfVTot.pop("DEVICE")
dfVTot.insert(0, 'value', first_column)
dfVTot = dfVTot.rename(columns={'value':'DEVICE'})

first_column = dfVTot.pop("BOARD")
dfVTot.insert(1, 'value', first_column)
dfVTot = dfVTot.rename(columns={'value':'BOARD'})

first_column = dfVTot.pop("FUNCTION")
dfVTot.insert(2, 'value', first_column)
dfVTot = dfVTot.rename(columns={'value':'FUNCTION'})

first_column = dfVTot.pop("DATA_TYPE")
dfVTot.insert(3, 'value', first_column)
dfVTot = dfVTot.rename(columns={'value':'DATA_TYPE'})

In [17]:
dfVTot

,DEVICE,BOARD,FUNCTION,DATA_TYPE,ID_VAL,V_VAL_1,V_VAL_2,V_VAL_3,V_VAL_4,V_VAL_5,...,V_VAL_19,V_VAL_20,V_VAL_21,V_VAL_22,V_VAL_23,V_VAL_24,V_VAL_25,V_VAL_26,V_VAL_27,V_VAL_28
0,armulator,ARMV4T,banker_algorithm,int8_t,242,121,10,190,78,227,...,58,0,0,0,0,0,0,0,0,0
1,armulator,ARMV4T,banker_algorithm,int8_t,505,122,234,23,130,96,...,0,0,0,0,0,0,0,0,0,0
2,armulator,ARMV4T,banker_algorithm,int8_t,924,189,6,101,239,103,...,237,146,219,83,0,0,0,0,0,0
3,armulator,ARMV4T,banker_algorithm,int8_t,862,35,139,45,253,92,...,0,0,0,0,0,0,0,0,0,0
4,armulator,ARMV4T,banker_algorithm,int8_t,287,242,32,61,166,71,...,198,117,31,164,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32091,tsim,LEON3,selectionsort,int8_t,595,88,116,-66,-30,35,...,0,0,0,0,0,0,0,0,0,0
32092,tsim,LEON3,selectionsort,int8_t,968,4,111,44,118,-111,...,0,0,0,0,0,0,0,0,0,0
32093,tsim,LEON3,selectionsort,int8_t,503,24,3,44,91,-13,...,0,0,0,0,0,0,0,0,0,0
32094,tsim,LEON3,selectionsort,int8_t,378,-27,-1,-103,-27,115,...,10,-50,2,13,0,0,0,0,0,0
32095,tsim,LEON3,selectionsort,int8_t,610,83,-110,114,-116,114,...,0,0,0,0,0,0,0,0,0,0

In [18]:
first_column = dfMTot.pop("DEVICE")
dfMTot.insert(0, 'value', first_column)
dfMTot = dfMTot.rename(columns={'value':'DEVICE'})

first_column = dfMTot.pop("BOARD")
dfMTot.insert(1, 'value', first_column)
dfMTot = dfMTot.rename(columns={'value':'BOARD'})

first_column = dfMTot.pop("FUNCTION")
dfMTot.insert(2, 'value', first_column)
dfMTot = dfMTot.rename(columns={'value':'FUNCTION'})

first_column = dfMTot.pop("DATA_TYPE")
dfMTot.insert(3, 'value', first_column)
dfMTot = dfMTot.rename(columns={'value':'DATA_TYPE'})

In [19]:
dfMTot

,DEVICE,BOARD,FUNCTION,DATA_TYPE,ID_VAL,M_VAL_1,M_VAL_2,M_VAL_3,M_VAL_4,M_VAL_5,...,M_VAL_23,M_VAL_24,M_VAL_25,M_VAL_26,M_VAL_27,M_VAL_28,M_VAL_29,M_VAL_30,M_VAL_31,M_VAL_32
0,armulator,ARMV4T,banker_algorithm,int8_t,0,20.751617,8.253970,0.0,0.000000,1.428373,...,0.000000,2.213842,1.681713,2.591958,0.000000,0.000000,0.000000,0.893931,1.112847,2.516858
1,armulator,ARMV4T,banker_algorithm,int8_t,1,108.979126,0.000000,0.0,5.954572,38.911896,...,0.899572,113.567894,96.631020,0.000000,0.000000,28.868542,48.263363,10.306892,7.616625,98.439819
2,armulator,ARMV4T,banker_algorithm,int8_t,10,134.204819,0.000000,0.0,0.015502,46.928345,...,2.574706,112.103653,89.032463,0.000000,0.000000,15.522923,62.867577,48.262848,13.514677,121.754242
3,armulator,ARMV4T,banker_algorithm,int8_t,100,8.830815,8.741481,0.0,0.000000,3.548826,...,0.000000,0.000000,0.397261,0.513347,0.000000,0.000000,0.133523,0.375370,0.032031,0.000816
4,armulator,ARMV4T,banker_algorithm,int8_t,101,80.159607,0.000000,0.0,18.403164,54.921761,...,1.576019,72.869568,51.052750,17.041828,0.000000,0.000000,23.877136,48.548599,0.000000,30.737700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,tsim,LEON3,matrix_mult,int8_t,995,14.188257,28.466208,0.0,0.000000,0.000000,...,0.412445,33.417065,20.502890,0.000000,1.418469,0.000000,0.000000,30.526773,10.796255,38.251335
27996,tsim,LEON3,matrix_mult,int8_t,996,31.492411,14.673825,0.0,0.000000,0.000000,...,6.286922,82.636185,13.247510,9.654644,0.000000,0.000000,0.000000,14.735678,13.688523,81.537552
27997,tsim,LEON3,matrix_mult,int8_t,997,45.771675,6.597071,0.0,0.000000,2.700911,...,0.000000,13.510559,6.027377,4.413343,0.000000,0.000000,0.000000,4.569641,2.043394,10.576884
27998,tsim,LEON3,matrix_mult,int8_t,998,20.265640,2.372604,0.0,0.000000,0.000000,...,54.780670,56.697506,4.946873,0.000000,0.000000,0.000000,9.222958,19.529007,18.121132,79.211472
27999,tsim,LEON3,matrix_mult,int8_t,999,6.008119,7.699028,0.0,0.000000,4.376245,...,1.579434,0.266056,1.034747,1.241691,0.000000,0.000000,0.583128,1.264913,0.810049,0.583611

In [20]:
dfSTot.to_csv("dfSTot.csv", sep=';')
dfSVTot.to_csv("dfSVTot.csv", sep=';')
dfVTot.to_csv("dfVTot.csv", sep=';')
dfMTot.to_csv("dfMTot.csv", sep=';')

In [21]:
dfTPM = pd.read_csv("TotalParameterMatrix.csv", sep=';')
del dfTPM['Unnamed: 0']

In [22]:
dfTot1 = pd.merge(dfTPM,dfSTot,how='left',on=['DEVICE','BOARD','FUNCTION','DATA_TYPE','ID_VAL'])

In [23]:
dfTot1.columns

Index(['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE', 'ID_VAL', 'BugsDelivered',
       'DifficultyLevel', 'DistinctOperands', 'DistinctOperators', 'Effort',
       'ProgramLength', 'ProgramLevel', 'ProgramVolume', 'TimeToImplement',
       'Total_Operands', 'VocabularySize', 'Sloc', 'DecisionPoint',
       'GlobalVariables', 'If', 'Loop', 'Goto', 'Assignment', 'ExitPoint',
       'Function', 'FunctionCall', 'PointerDereferencing',
       'CyclomaticComplexity', 'SyntacticallyReachableFunctions',
       'SemanticallyReachedFunctions', 'CoverageEstimation', 'SCALAR_INPUT',
       'RANGE_SCALAR_VALUES', 'SCALAR_INDEX_INPUT',
       'RANGE_SCALAR_INDEX_VALUES', 'ARRAY_INPUT', 'RANGE_ARRAY_INPUT',
       'cInstr', 'assemblyInstr', 'clockCycles', 'CC4CS', 'SS_VAL_1'],
      dtype='object')

In [24]:
dfTot2 = pd.merge(dfTot1,dfSVTot,how='left',on=['DEVICE','BOARD','FUNCTION','DATA_TYPE','ID_VAL'])

In [25]:
dfTot2.columns

Index(['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE', 'ID_VAL', 'BugsDelivered',
       'DifficultyLevel', 'DistinctOperands', 'DistinctOperators', 'Effort',
       'ProgramLength', 'ProgramLevel', 'ProgramVolume', 'TimeToImplement',
       'Total_Operands', 'VocabularySize', 'Sloc', 'DecisionPoint',
       'GlobalVariables', 'If', 'Loop', 'Goto', 'Assignment', 'ExitPoint',
       'Function', 'FunctionCall', 'PointerDereferencing',
       'CyclomaticComplexity', 'SyntacticallyReachableFunctions',
       'SemanticallyReachedFunctions', 'CoverageEstimation', 'SCALAR_INPUT',
       'RANGE_SCALAR_VALUES', 'SCALAR_INDEX_INPUT',
       'RANGE_SCALAR_INDEX_VALUES', 'ARRAY_INPUT', 'RANGE_ARRAY_INPUT',
       'cInstr', 'assemblyInstr', 'clockCycles', 'CC4CS', 'SS_VAL_1',
       'SV_VAL_1'],
      dtype='object')

In [26]:
dfTot3 = pd.merge(dfTot2,dfVTot,how='left',on=['DEVICE','BOARD','FUNCTION','DATA_TYPE','ID_VAL'])

In [27]:
dfTot3.columns

Index(['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE', 'ID_VAL', 'BugsDelivered',
       'DifficultyLevel', 'DistinctOperands', 'DistinctOperators', 'Effort',
       'ProgramLength', 'ProgramLevel', 'ProgramVolume', 'TimeToImplement',
       'Total_Operands', 'VocabularySize', 'Sloc', 'DecisionPoint',
       'GlobalVariables', 'If', 'Loop', 'Goto', 'Assignment', 'ExitPoint',
       'Function', 'FunctionCall', 'PointerDereferencing',
       'CyclomaticComplexity', 'SyntacticallyReachableFunctions',
       'SemanticallyReachedFunctions', 'CoverageEstimation', 'SCALAR_INPUT',
       'RANGE_SCALAR_VALUES', 'SCALAR_INDEX_INPUT',
       'RANGE_SCALAR_INDEX_VALUES', 'ARRAY_INPUT', 'RANGE_ARRAY_INPUT',
       'cInstr', 'assemblyInstr', 'clockCycles', 'CC4CS', 'SS_VAL_1',
       'SV_VAL_1', 'V_VAL_1', 'V_VAL_2', 'V_VAL_3', 'V_VAL_4', 'V_VAL_5',
       'V_VAL_6', 'V_VAL_7', 'V_VAL_8', 'V_VAL_9', 'V_VAL_10', 'V_VAL_11',
       'V_VAL_12', 'V_VAL_13', 'V_VAL_14', 'V_VAL_15', 'V_VAL_16', 'V_VAL_17',
       'V_VAL_18', 'V_VAL_19', 'V_VAL_20', 'V_VAL_21', 'V_VAL_22', 'V_VAL_23',
       'V_VAL_24', 'V_VAL_25', 'V_VAL_26', 'V_VAL_27', 'V_VAL_28'],
      dtype='object')

In [28]:
dfTot4 = pd.merge(dfTot3,dfMTot,how='left',on=['DEVICE','BOARD','FUNCTION','DATA_TYPE','ID_VAL'])

In [29]:
dfTot4.columns

Index(['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE', 'ID_VAL', 'BugsDelivered',
       'DifficultyLevel', 'DistinctOperands', 'DistinctOperators', 'Effort',
       ...
       'M_VAL_23', 'M_VAL_24', 'M_VAL_25', 'M_VAL_26', 'M_VAL_27', 'M_VAL_28',
       'M_VAL_29', 'M_VAL_30', 'M_VAL_31', 'M_VAL_32'],
      dtype='object', length=103)

In [30]:
dfTot5 = dfTot4.fillna(0)

In [31]:
dfTot5.to_csv("TotalParameterMatrixWithInputs.csv", sep=';')

In [32]:
# Matrici divise per board-------------------------------------------------STOP

In [33]:
df1 = dfTot5.loc[(dfTot5['BOARD'] == 'LEON3')]
df1.to_csv("TotalParameterMatrixLeon3.csv", sep=';')

In [34]:
 df2 = dfTot5.loc[(dfTot5['BOARD'] == 'ARMV4T')]
 df2.to_csv("TotalParameterMatrixArmv4t.csv", sep=';')

In [35]:
 df3 = dfTot5.loc[(dfTot5['BOARD'] == 'ARMV6-M')]
 df3.to_csv("TotalParameterMatrixArmv6-m.csv", sep=';')

In [36]:
 df4 = dfTot5.loc[(dfTot5['BOARD'] == 'Atmega328p')]
 df4.to_csv("TotalParameterMatrixAtmega328P.csv", sep=';')