In [19]:
# Declarations
import glob
import json
import os
import numpy as np
import pandas as pd
import re

from os.path import basename

In [20]:
dfRDC = pd.read_csv("RangeValueClassification_tot.csv", sep=';')
del dfRDC['Unnamed: 0']

In [21]:
dfRDC = pd.read_csv("RangeValueClassification_tot.csv", sep=';')
del dfRDC['Unnamed: 0']

In [22]:
nameFileH = []
pathFileH = []
rootFileH = []
nameFileM = []
pathFileM = []
rootFileM = []
nameFileS = []
pathFileS = []
rootFileS = []
nameFileC = []
pathFileC = []
rootFileC = []
nameFileA = []
pathFileA = []
rootFileA = []

path = os.getcwd()
for root, dirs, files in os.walk(path):
    
    for file in files:
        if file.endswith("Size (1).csv"):
            nameFileA.append(file)
            pathFileA.append(os.path.join(root, file))
            rootFileA.append(root)
        elif file.endswith("Halsted.csv"):
            nameFileH.append(file)
            pathFileH.append(os.path.join(root, file))
            rootFileH.append(root)
        elif file.endswith("McCabe.csv"):
            nameFileM.append(file)
            pathFileM.append(os.path.join(root, file))
            rootFileM.append(root)
        elif file.endswith("cStatements.csv"):
            nameFileS.append(file)
            pathFileS.append(os.path.join(root, file))
            rootFileS.append(root)
        elif file.endswith("clockCycles.csv"):
            nameFileC.append(file)
            pathFileC.append(os.path.join(root, file))
            rootFileC.append(root)
        
#indR = nameFileC.index("ParMatrixclockCycles.csv")
#nameFileC.remove("ParMatrixclockCycles.csv")
#del pathFileC[indR]
#del rootFileC[indR]

In [23]:
# size
for i in range(0, len(pathFileA)):
    path = pathFileA[i]
    dfATemp = pd.read_csv(path, sep=',',engine='python')
    if os.name == 'nt':
        spR = rootFileA[i].split('\\')
    else:
        spR = rootFileA[i].split('/')
    datatype = spR[-1]
    device = spR[-5]
    board = spR[-4]
    function = spR[-2]
    dfATemp['DEVICE'] = device
    dfATemp['BOARD'] = board
    dfATemp['FUNCTION'] = function
    dfATemp['DATA_TYPE'] = datatype
    dfATemp['inputName'] = dfATemp['inputName'].map(lambda x: x.lstrip('values_'))
    dfATemp['inputName'] = dfATemp['inputName'].astype(int)
    dfATemp.sort_values('inputName')
    
    if i == 0:
        dfATot = dfATemp
    else:
        frames = [dfATot, dfATemp]
        dfATot = pd.concat(frames)
dfATot

     inputName   text  data  bss     DEVICE   BOARD       FUNCTION DATA_TYPE
0          242   2152     0    0  armulator  ARMV4T            lud    int8_t
1          505   2008     0    0  armulator  ARMV4T            lud    int8_t
2          924   2152     0    0  armulator  ARMV4T            lud    int8_t
3          862   2008     0    0  armulator  ARMV4T            lud    int8_t
4          287   2080     0    0  armulator  ARMV4T            lud    int8_t
..         ...    ...   ...  ...        ...     ...            ...       ...
995        595  11728   168  368       tsim   Leon3  straight_sort    int8_t
996        968  11728   168  368       tsim   Leon3  straight_sort    int8_t
997        503  11728   160  368       tsim   Leon3  straight_sort    int8_t
998        378  11728   168  368       tsim   Leon3  straight_sort    int8_t
999        610  11728   152  368       tsim   Leon3  straight_sort    int8_t

[16096 rows x 8 columns]

In [24]:
# Halsted file
for i in range(0, len(pathFileH)):
    path = pathFileH[i]
    try:
        dfHTemp = pd.read_csv(path, sep=',',engine='python')
    except:
        print(path)
        
    if os.name == 'nt':
        spR = rootFileH[i].split('\\')
    else:
        spR = rootFileH[i].split('/')
    datatype = spR[-1]
    device = spR[-5]
    board = spR[-4]
    function = spR[-2]
    dfHTemp['DEVICE'] = device
    dfHTemp['BOARD'] = board
    dfHTemp['FUNCTION'] = function
    dfHTemp['DATA_TYPE'] = datatype
    dfHTemp['inputName'] = dfHTemp['inputName'].map(lambda x: x.lstrip('values_'))
    dfHTemp['inputName'] = dfHTemp['inputName'].astype(int)
    dfHTemp.sort_values('inputName')
    
    if i == 0:
        dfHTot = dfHTemp
    else:
        frames = [dfHTot, dfHTemp]
        dfHTot = pd.concat(frames)
        
a = dfHTot['ProgramVolume']/3000
a = a.values.tolist()
dfHTot['BugsDelivered'] = a

In [25]:
# McCabe file
for i in range(0, len(pathFileM)):
    path = pathFileM[i]
    dfMTemp = pd.read_csv(path, sep=',',engine='python')

    if os.name == 'nt':
        spR = rootFileM[i].split('\\')
    else:
        spR = rootFileM[i].split('/')
    datatype = spR[-1]
    device = spR[-5]
    board = spR[-4]
    function = spR[-2]
    dfMTemp['DEVICE'] = device
    dfMTemp['BOARD'] = board
    dfMTemp['FUNCTION'] = function
    dfMTemp['DATA_TYPE'] = datatype
    dfMTemp['inputName'] = dfMTemp['inputName'].map(lambda x: x.lstrip('values_'))
    dfMTemp['inputName'] = dfMTemp['inputName'].astype(int)
    dfMTemp.sort_values('inputName')
    
    if i == 0:
        dfMTot = dfMTemp
    else:
        frames = [dfMTot, dfMTemp]
        dfMTot = pd.concat(frames)
dfMTot

,inputName,Sloc,DecisionPoint,GlobalVariables,If,Loop,Goto,Assignment,ExitPoint,Function,FunctionCall,PointerDereferencing,CyclomaticComplexity,DEVICE,BOARD,FUNCTION,DATA_TYPE
0,242,129,19,0,19,12,2,63,5,5,9,0,24,armulator,ARMV4T,lud,int8_t
1,505,129,19,0,19,12,2,63,5,5,9,0,24,armulator,ARMV4T,lud,int8_t
2,924,129,19,0,19,12,2,63,5,5,9,0,24,armulator,ARMV4T,lud,int8_t
3,862,129,19,0,19,12,2,63,5,5,9,0,24,armulator,ARMV4T,lud,int8_t
4,287,129,19,0,19,12,2,63,5,5,9,0,24,armulator,ARMV4T,lud,int8_t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,595,20,3,1,3,2,0,7,2,2,1,0,5,tsim,Leon3,straight_sort,int8_t
996,968,20,3,1,3,2,0,7,2,2,1,0,5,tsim,Leon3,straight_sort,int8_t
997,503,20,3,1,3,2,0,7,2,2,1,0,5,tsim,Leon3,straight_sort,int8_t
998,378,20,3,1,3,2,0,7,2,2,1,0,5,tsim,Leon3,straight_sort,int8_t
999,610,20,3,1,3,2,0,7,2,2,1,0,5,tsim,Leon3,straight_sort,int8_t

In [26]:
# cStatement file
for i in range(0, len(pathFileS)):
    path = pathFileS[i]
    dfSTemp = pd.read_csv(path, sep=',',engine='python')
    
    if os.name == 'nt':
        spR = rootFileS[i].split('\\')
    else:
        spR = rootFileS[i].split('/')
    datatype = spR[-1]
    device = spR[-5]
    board = spR[-4]
    function = spR[-2]
    dfSTemp['DEVICE'] = device
    dfSTemp['BOARD'] = board
    dfSTemp['FUNCTION'] = function
    dfSTemp['DATA_TYPE'] = datatype
    dfSTemp['id'] = dfSTemp['id'].map(lambda x: x.lstrip('values_'))
    dfSTemp['id'] = dfSTemp['id'].astype(int)
    dfSTemp.sort_values('id')
    
    if i == 0:
        dfSTot = dfSTemp
    else:
        frames = [dfSTot, dfSTemp]
        dfSTot = pd.concat(frames)
dfSTot

      id  cInstr     DEVICE   BOARD       FUNCTION DATA_TYPE
0    242     128  armulator  ARMV4T            lud    int8_t
1    505     168  armulator  ARMV4T            lud    int8_t
2    924     128  armulator  ARMV4T            lud    int8_t
3    862     168  armulator  ARMV4T            lud    int8_t
4    287     993  armulator  ARMV4T            lud    int8_t
..   ...     ...        ...     ...            ...       ...
995  595     657       tsim   Leon3  straight_sort    int8_t
996  968     613       tsim   Leon3  straight_sort    int8_t
997  503     151       tsim   Leon3  straight_sort    int8_t
998  378     604       tsim   Leon3  straight_sort    int8_t
999  610      38       tsim   Leon3  straight_sort    int8_t

[16096 rows x 6 columns]

In [27]:
# clockCycle file
for i in range(0, len(pathFileC)):
    path = pathFileC[i]
    dfCTemp = pd.read_csv(path, sep=',',engine='python')
    
    if os.name == 'nt':
        spR = rootFileC[i].split('\\')
    else:
        spR = rootFileC[i].split('/')
    datatype = spR[-1]
    device = spR[-5]
    board = spR[-4]
    function = spR[-2]
    dfCTemp['DEVICE'] = device
    dfCTemp['BOARD'] = board
    dfCTemp['FUNCTION'] = function
    dfCTemp['DATA_TYPE'] = datatype
    dfCTemp['id'] = dfCTemp['id'].map(lambda x: x.lstrip('values_'))
    dfCTemp['id'] = dfCTemp['id'].astype(int)
    dfCTemp.sort_values('id')
    
    if i == 0:
        dfCTot = dfCTemp
    else:
        frames = [dfCTot, dfCTemp]
        dfCTot = pd.concat(frames)
dfCTot

,id,clockCycles,assemblyInstr,DEVICE,BOARD,FUNCTION,DATA_TYPE
0,242,1149.0,640.0,armulator,ARMV4T,lud,int8_t
1,505,1495.0,822.0,armulator,ARMV4T,lud,int8_t
2,924,1149.0,640.0,armulator,ARMV4T,lud,int8_t
3,862,1495.0,822.0,armulator,ARMV4T,lud,int8_t
4,287,1975.0,1097.0,armulator,ARMV4T,lud,int8_t
...,...,...,...,...,...,...,...
995,595,14412.0,7278.0,tsim,Leon3,straight_sort,int8_t
996,968,13755.0,6886.0,tsim,Leon3,straight_sort,int8_t
997,503,6223.0,2562.0,tsim,Leon3,straight_sort,int8_t
998,378,13590.0,6794.0,tsim,Leon3,straight_sort,int8_t
999,610,4404.0,1534.0,tsim,Leon3,straight_sort,int8_t

In [28]:
dfHTot = dfHTot.reset_index(drop=True)
dfMTot = dfMTot.reset_index(drop=True)
dfSTot = dfSTot.reset_index(drop=True)
dfCTot = dfCTot.reset_index(drop=True)
dfATot = dfATot.reset_index(drop=True)

In [29]:
dfATot.to_csv("dfA.csv", sep=';')
dfATot.to_csv("dfA_tot.csv", sep=';')

In [30]:
columnsH = ['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE', 
            'Total_Operands', 'DistinctOperands', 'ProgramLength', 'ProgramLevel','VocabularySize', 'ProgramVolume', 
            'Effort','ProgramLevel','DifficultyLevel','TimeToImplement', 'BugsDelivered' 
            ]
columnsM = ['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE', 'Sloc', 'DecisionPoint', 'GlobalVariables', 
            'If', 'Loop', 'Goto', 'Assignment', 'ExitPoint', 'Function', 'FunctionCall', 
            'PointerDereferencing', 'CyclomaticComplexity']#, 'SyntacticallyReachableFunctions', 
            #'SemanticallyReachedFunctions', 'CoverageEstimation']
columnsS = ['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE','id','cInstr']
columnsC = ['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE','id','clockCycles', 'assemblyInstr']
columnsA = ['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE','inputName','text','data','bss']#,'Clock_Cycles',]

In [31]:
dfHTot = dfHTot[columnsH]
dfMTot = dfMTot[columnsM]
dfSTot = dfSTot[columnsS]
dfCTot = dfCTot[columnsC]
dfATot = dfATot[columnsA]

In [32]:
dfATot.to_csv("dfA.csv", sep=';')

In [33]:
dfATot.to_csv("dfA_tot.csv", sep=';')

In [34]:
dfPar1 = dfHTot.assign(**dfMTot)
dfPar2 = dfPar1.assign(**dfCTot)
dfPar3 = dfPar2.assign(**dfSTot)
dfPar4 = dfPar3.assign(**dfATot)
dfPar4

,DEVICE,BOARD,FUNCTION,DATA_TYPE,Total_Operands,DistinctOperands,ProgramLength,ProgramLevel,VocabularySize,ProgramVolume,...,PointerDereferencing,CyclomaticComplexity,id,clockCycles,assemblyInstr,cInstr,inputName,text,data,bss
0,armulator,ARMV4T,lud,int8_t,432,140,1127,0.01,197,8590.05,...,0,24,242,1149.0,640.0,128,242,2152,0,0
1,armulator,ARMV4T,lud,int8_t,432,140,1127,0.01,197,8590.05,...,0,24,505,1495.0,822.0,168,505,2008,0,0
2,armulator,ARMV4T,lud,int8_t,432,140,1127,0.01,197,8590.05,...,0,24,924,1149.0,640.0,128,924,2152,0,0
3,armulator,ARMV4T,lud,int8_t,432,140,1127,0.01,197,8590.05,...,0,24,862,1495.0,822.0,168,862,2008,0,0
4,armulator,ARMV4T,lud,int8_t,432,140,1127,0.01,197,8590.05,...,0,24,287,1975.0,1097.0,993,287,2080,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16091,tsim,Leon3,straight_sort,int8_t,66,37,228,0.04,68,1387.94,...,0,5,595,14412.0,7278.0,657,595,11728,168,368
16092,tsim,Leon3,straight_sort,int8_t,65,35,226,0.03,66,1366.03,...,0,5,968,13755.0,6886.0,613,968,11728,168,368
16093,tsim,Leon3,straight_sort,int8_t,53,24,202,0.03,55,1167.83,...,0,5,503,6223.0,2562.0,151,503,11728,160,368
16094,tsim,Leon3,straight_sort,int8_t,65,36,226,0.04,67,1370.94,...,0,5,378,13590.0,6794.0,604,378,11728,168,368
16095,tsim,Leon3,straight_sort,int8_t,47,18,190,0.02,49,1066.79,...,0,5,610,4404.0,1534.0,38,610,11728,152,368

In [35]:
dfTot = pd.merge(dfPar4,dfRDC,how='left',on=['DEVICE','BOARD','FUNCTION','DATA_TYPE'])
#dfTot = pd.merge(dfPar4,dfRDC,how='left',on=['DEVICE','BOARD','FUNCTION','DATA_TYPE','id'])
columnsTot = ['DEVICE', 'BOARD', 'FUNCTION', 'DATA_TYPE',
              'id','Total_Operands', 'DistinctOperands', 'ProgramLength','VocabularySize', 'ProgramVolume', 
            'Effort','ProgramLevel','DifficultyLevel','TimeToImplement', 'BugsDelivered' , 'Sloc', 'DecisionPoint','GlobalVariables', 
              'If', 'Loop', 'Goto', 'Assignment', 'ExitPoint',
              'Function', 'FunctionCall', 'PointerDereferencing','CyclomaticComplexity', 
              #'SyntacticallyReachableFunctions','SemanticallyReachedFunctions', 'CoverageEstimation', 
              'NUM_S', 'RANGE_S', 'NUM_SI','RANGE_SI', 'NUM_ARR', 'RANGE_ARR',
              'cInstr', 'assemblyInstr',
              'clockCycles','text','data','bss'] # E' UN OUTPUT
              #'DSP','BRAM','Flip_Flop','Area','min_Slack','Max_Freq',   # COLONNE PRESENTI SOLO CON BAMBU (HW) E SONOI OUPUT, CAMBIANO PER SW
              #, 'cc4cs'] # DA CALCOLARE
dfTot = dfTot[columnsTot]
print(dfTot)

          DEVICE   BOARD       FUNCTION DATA_TYPE   id  Total_Operands  \
0      armulator  ARMV4T            lud    int8_t  242             432
1      armulator  ARMV4T            lud    int8_t  505             432
2      armulator  ARMV4T            lud    int8_t  924             432
3      armulator  ARMV4T            lud    int8_t  862             432
4      armulator  ARMV4T            lud    int8_t  287             432
...          ...     ...            ...       ...  ...             ...
16091       tsim   Leon3  straight_sort    int8_t  595              66
16092       tsim   Leon3  straight_sort    int8_t  968              65
16093       tsim   Leon3  straight_sort    int8_t  503              53
16094       tsim   Leon3  straight_sort    int8_t  378              65
16095       tsim   Leon3  straight_sort    int8_t  610              47

       DistinctOperands  ProgramLength  VocabularySize  ProgramVolume  ...  \
0                   140           1127             197        8590.05  ...
1                   140           1127             197        8590.05  ...
2                   140           1127             197        8590.05  ...
3                   140           1127             197        8590.05  ...
4                   140           1127             197        8590.05  ...
...                 ...            ...             ...            ...  ...
16091                37            228              68        1387.94  ...
16092                35            226              66        1366.03  ...
16093                24            202              55        1167.83  ...
16094                36            226              67        1370.94  ...
16095                18            190              49        1066.79  ...

       NUM_SI  RANGE_SI  NUM_ARR  RANGE_ARR  cInstr  assemblyInstr  \
0         0.0       0.0      0.0        0.0     128          640.0
1         0.0       0.0      0.0        0.0     168          822.0
2         0.0       0.0      0.0        0.0     128          640.0
3         0.0       0.0      0.0        0.0     168          822.0
4         0.0       0.0      0.0        0.0     993         1097.0
...       ...       ...      ...        ...     ...            ...
16091     1.0       3.0      1.0        0.0     657         7278.0
16092     1.0       3.0      1.0        0.0     613         6886.0
16093     1.0       3.0      1.0        0.0     151         2562.0
16094     1.0       3.0      1.0        0.0     604         6794.0
16095     1.0       3.0      1.0        0.0      38         1534.0

       clockCycles   text  data  bss
0           1149.0   2152     0    0
1           1495.0   2008     0    0
2           1149.0   2152     0    0
3           1495.0   2008     0    0
4           1975.0   2080     0    0
...            ...    ...   ...  ...
16091      14412.0  11728   168  368
16092      13755.0  11728   168  368
16093       6223.0  11728   160  368
16094      13590.0  11728   168  368
16095       4404.0  11728   152  368

[16096 rows x 40 columns]

In [36]:
dfTot['CC4CS'] = (dfTot['clockCycles'].astype('float64')).div(dfTot['cInstr'].astype('float64')).replace(np.inf,0)

In [37]:
dfTot.rename(columns={'id':'ID_VAL',
                      'NUM_S':'SCALAR_INPUT',
                      'RANGE_S':'RANGE_SCALAR_VALUES',
                      'NUM_SI':'SCALAR_INDEX_INPUT',
                      'RANGE_SI':'RANGE_SCALAR_INDEX_VALUES',
                      'NUM_ARR':'ARRAY_INPUT',
                      'RANGE_ARR':'RANGE_ARRAY_INPUT'}, inplace=True)

In [38]:
dfTot.to_csv("TotalParameterMatrix.csv", sep=';')

In [39]:
dfBamb = dfTot.loc[(dfTot['DEVICE'] == 'armulator')]
dfBamb.to_csv("TotalParameterMatrixArmulator.csv", sep=';')
dfBamb = dfTot.loc[(dfTot['DEVICE'] == 'tsim')]
dfBamb.to_csv("TotalParameterMatrixTsim.csv", sep=';')
dfBamb = dfTot.loc[(dfTot['DEVICE'] == 'simulavr')]
dfBamb.to_csv("TotalParameterMatrixSimulavr.csv", sep=';')
dfBamb = dfTot.loc[(dfTot['DEVICE'] == 'thumbulator')]
dfBamb.to_csv("TotalParameterMatrixThumbulator.csv", sep=';')